*{
    padding: 0;
    margin: 0;
}
.naveg{
    height: 50px;
    width: 700px;
    display: flex;
    flex-direction: row;
    background-color: #dcefff;
    align-items: center;
}
.my-logo{
    height: 45px;
    margin-left: 15px;
}
.nav-direita{
    margin-left: 350px;
    display: flex;
    align-items: center;
}
.botao1:hover{
    background-color: #5eb1f5;
    color: rgb(255, 255, 255);
}
.botao1{
    background-color: #dcefff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 5px;
    padding: 10px; 
    border-radius: 5px;
}
.pessoa-logada{
    padding-left: 10px;
}