@import '~antd/dist/antd.css';

.ant-form{
    margin-top: 50px;
}

.ant-input{
    padding: 5px;
}

.containerForm{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.title{
    font-size: 25px;
    color: rgba(255, 255, 255, 0.945);
    position: absolute;
    padding: 25px;
    margin-top: 10px;
    background-color: #3598f5d3;
    border: 2px solid #fff;
    border-radius: 50%;
}
.formLogin{
    width: 700px;
    background-image: url("../../assets/Background.jpg");
    display: flex;
    justify-content: center;
}
.formularioLogin{
    margin-top: 22%;
    width: 60%;
}