.linha-do-tempo{
    width: 700px;
    height: 95vh;
    display: flex;
    background-image: url("../../assets/Background.jpg");
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}