.post{
    height: 90px;
    width: 30vw;
    background-color: #dcefffce;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: hidden;
    box-sizing: unset;
}

.post .botaoDoPost{
    padding: 5px 10px;
    border: 2px solid #5eb1f5;
    background-color: #dcefff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    margin-left: calc(20vw - 10px);
}

.post .botaoDoPost:hover{
    background-color: #5eb1f581;
}

.post .likeEbotao{
    padding-top: 6px;
}

.post .nomeUsuario{
    margin-right: 320px;
}

.area-comment{
    height: 90px;
    width: 30vw;
    background-color: #5eb1f581;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: unset;
}
.post-comment{
    margin-top: 150px;
}
.comment{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.comment-post{
    display: flex;
    justify-content: center;
}